{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

<div class="sound">
	<div class="title"><a href="{{=URL('download_blob', args=detail_sound.id)}}" title="{{=detail_sound.title}}" type="{{=detail_sound.mime_type}}"></a> {{=detail_sound.title}}</h3></div>
	<div class="info">{{=T('Added')}} {{=prettydate(detail_sound.created_on)}} {{=T('by')}} {{=detail_sound.username}} {{=detail_sound.play_count}} {{=T('views')}}</div>
	<div class="description">{{=detail_sound.description}}</div>
</div>

<h5>{{=T('Comments')}}</h5>
<div id="comments">
{{=plugin_comments('sounds',detail_sound.id)}}
</div>


{{if len(sounds) > 0:}}
	<h3>{{=T('By the same user')}}</h3>
	<hr/>
	{{ for i, sound in enumerate(sounds):}}
		{{if i==items_per_page: break}}
		{{if sound.id != detail_sound.id:}}
		<div class="sound">
		  <div class="title"><a href="{{=URL('download_blob', args=sound.id)}}" title="{{=sound.title}}" type="{{=sound.mime_type}}"></a><a href="{{=URL('details', args=sound.id)}}">{{=sound.title}}</a></div>
		  <div class="info">{{=T('Added')}} {{=prettydate(sound.created_on)}} {{=sound.play_count}} {{=T('views')}}</div>
		  <div class="description">{{=sound.description}}</div> 	  
		</div>
		{{pass}}
	{{pass}}

	{{if page:}}
	<a href="{{=URL(vars={'page':page-1})}}">{{=T('previous')}}</a>
	{{pass}}

	{{if len(sounds)>items_per_page:}}
	<a href="{{=URL(vars={'page':page+1})}}">{{=T('next')}}</a>
	{{pass}}
{{pass}}
{{block right_sidebar}}
{{=A(T("Upload a file"), _href=URL('create_sound'), _class='button', _style='margin-top: 1em;')}}
{{=A(T("Record"), _href=URL('record'), _class='button', _style='margin-top: 1em;')}}
<h6>{{=T("Explore")}}</h6>
<ul>
  <li>{{=A(T("My uploads"), _href=URL('my_uploads', user_signature=True))}}</li>  
</ul>
{{end}}

<div class="back">
<a class="button" href="{{=URL('index')}}">{{=T('Back')}}</a>
</div>

<script type="text/javascript">
    var YWPParams = 
    {
        autoplay: true
    };
</script>