{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

<h4>{{=T('What do we have here?')}}</h4>
<table>
<thead>
  <tr>
    <th>{{=T('Title')}}</th>
    <th>{{=T('Description')}}</th>
    <th>{{=T('Play')}}</th>
  </tr>
</thead>
<tbody>
{{ for s in sounds:}}
<tr>
<td><a href="{{=URL('details', args=s.id)}}">{{=s.title}}</a></td>
<td>{{=s.description}}</td>
<td>
  <audio controls="controls" loop="loop">
    <source src="{{=URL('download', args=s.file)}}" type="audio/ogg" />    
    {{=T('Your browser does not support the audio element.')}}
  </audio>
</td>
{{pass}}
</tr>
</tbody>
</table>

{{block right_sidebar}}
{{=A(T("Upload a file"), _href=URL('upload'), _class='button',
     _style='margin-top: 1em;')}}
<h6>{{=T("Don't know what to do?")}}</h6>
<ul>
  <li>{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
  <li><a href="http://web2py.com">web2py.com</a></li>
  <li><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
</ul>
{{end}}

