{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

{{block right_sidebar}}
{{=A(T("Upload more"), _href=URL('upload'), _class='button',
     _style='margin-top: 1em;')}}
{{end}}

{{ for s in sounds:}}
<div class="sound">
  <div class="title"><a href="{{=URL('download', args=s.file)}}" type="{{=s.mime_type}}"></a><a href="{{=URL('details', args=s.id)}}">{{=s.title}}</a></div>
  <div class="info">{{=T('Added on ')}}{{=s.created_on}}</div>
  <div class="description">{{=s.description}}</div> 
  <div class="actions">
  	<a href="{{=URL('delete', args=s.id)}}" class="negative button">{{=T('Delete')}}</a>
  	<a href="{{=URL('upload', args=s.id)}}" class="button">{{=T('Edit')}}</a>
  </div> 
</div>
{{pass}}